.both {
	clear: both ;
}
.nod {
	display: none !important ;
}
.overlay {
	margin: 20px ;
}
.team-selected ,
.team-selected td ,
.team-winner-AA ,
.team-winner-BB {
	font-weight: bold ;
	background-color: LightYellow ;
	-moz-user-select: all ;
}
.team-title {
	width: 300px ;
}
*[data-col="teamA_goals"] ,
*[data-col="teamA_scores"] ,
.num {
	text-align: right ;
	font-family: Tahoma ;
	-moz-user-select: all ;
}
thead th {
	background-color: #fafafa ;
}
.team-selected:nth-child( even ) {
	border-top: 1px solid silver ;
}
.top-href {
	float: right ;
}
td {
	padding: 2px 5px ;
}
th {
	text-align: center ;
}
label {
	cursor: pointer ;
	background-color: rgba( 0 , 0 , 0 , 0.05 ) ;
	border: 1px solid silver ;
	color: #000000 ;
	display: block ;
	padding: 2px ;
	position: fixed ;
	right: 10px ;
	top: 10px ;
}